.tag-my-own {
  background-color: #5596E6 !important;
}

.providers-controls {
  float: right;

  .bx--checkbox-wrapper {
    display: inline-block;
  }

  .bx--btn--primary,
  .bx--checkbox-wrapper {
    margin-right: 16px !important;
  }

  button {
    margin-top: 0;
  }
}

.providers-apply-modal {
  .bx--modal-container {
    width: 736px;
    max-width: 736px;
  }
}

.providers {
  .provider {
    width: 297px;
    height: 323px;
    color: #5A6872;
    padding-top: 40px;
    padding-left: 24px;
    padding-right: 24px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
    float: left;
    margin-right: 20px;
    margin-top: 20px;
    cursor: pointer;

    .provider-img {
      height: 46px;
      display: flex;
      align-items: flex-end;
      margin-bottom: 23px;
    }

    .provider-description{
      span{
        color:#3D70B2;
      }

    }

    .provider-applied {
      font-size: 12px;
      font-weight: 300;
      color: #8C9BA5;
      display: inline-flex;
      align-items: center;
      float: right;
      margin-top: -23px;

      svg {
        margin-left: 5px;
      }
    }

    p {
      font-size: 12px;
      font-weight: 300;
      height: 150px;
    }

    h3 {
      color: #152935 !important;
    }

    &:last-child {
      margin-right: 0;
    }

    &.provider-selected {
      outline: 1px solid #3D70B2;
    }

    &.provider-applied {
      outline: 1px solid #00AA5E;
      cursor: default;
    }

    &.provider-to-be-announced {
      cursor: default;

      // noinspection ALL
      img {
        filter: blur(8px);
        -webkit-filter: blur(8px);
        -moz-filter: blur(8px);
        -o-filter: blur(8px);
        -ms-filter: blur(8px);
      }
    }

    &.provider-increased-height {
      height: 400px !important;
    }
  }
}

.bx--tabs {
  margin-top: 48px;

  .bx--tabs__nav-item+.bx--tabs__nav-item {
    margin-left: 0;
  }

  .bx--tabs__nav-item + .bx--tabs__nav-item {
    margin-left: 0;
  }

  .bx--tabs__nav {
    margin-left: 0;
    border-bottom: 1px solid #DFE3E6;
  }

  .bx--tabs__nav-item {
    padding: 16px 24px 36px 24px;
    width: 200px;

    .bx--tabs__nav-link {
      font-size: 16px;
      font-weight: 600;
      color: #5A6872;

      div {
        display: inline-flex;
        align-items: center;
      }
    }

    &:hover {
      .bx--tabs__nav-link {
        color: #252E6A !important;
      }
    }

    .bx--tag {
      font-size: 10px;
      font-weight: 300;
      background-color: #3D70B2;
      color: white;
    }
  }

  .bx--tabs__nav-item--selected {
    border-bottom: 4px solid #252E6A;

    .bx--tabs__nav-link {
      color: #252E6A;
    }
  }
}

.tab-content {
  padding-top: 60px;
  padding-bottom: 60px;
}