.splash-background-color,
.splash-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
}

.splash-background {
  background: url('/hero.png') no-repeat right bottom !important;
}

.splash-background-pattern {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 80%;
  height: 80%;
  background: url('/hero-pattern.svg') no-repeat;
  background-size: cover;
}

.splash-logo {
  margin-bottom: 55px;
}

.dashboard {
  padding-left: 46px;
  padding-bottom: 46px;
  padding-top: 56px;

  .bx--progress {
    margin-top: 0;
    margin-bottom: 62px;
  }
}

.ticker-field {
  margin-bottom: 1.5rem;
  background: #EBF0F7;
  padding: 12px 48px 48px 48px;
  margin-top: 30px;
  text-align: center;
  border-radius: 4px;

  .bx--label {
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 4px;
  }

  .bx--form-requirement {
    display: block;
    margin-bottom: -30px !important;
  }

  input {
    height: 64px;
    font-size: 34px;
    text-align: center;
    color: #152935;
    background: white;
    text-transform: uppercase;

    &::placeholder {
      color: #DFE3E6 !important;
      font-weight: 300 !important;
      font-size: 26px !important;
      text-transform: initial !important;
    }
  }
}

.confirm-email-form {
  button {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .bx--text-input {
    height: 60px;

    text-align: center;
    font-size: 18px;
  }
}

.pui-page-box {

  hr {
    border: 0;
    border-top: 1px solid #EBF0F7;
    margin-bottom: 18px;
    margin-top: -3px;
  }

  .ticker-field {
    margin-top: 0;
  }

  .bx--form-item {
    p {
      a {
        word-break: break-word;
      }
    }
  }

  &.sto-factory {
    .bx--form-item {
      p, div, li {
        font-size: 14px !important;
      }

      li {
        margin-bottom: 10px;
      }
    }
  }
}

.remark {
  display: flex;
  overflow: hidden;

  margin-bottom: 20px;
  line-height: 20px;
  border-radius: 4px;

  background-color: #F5F7FA;

  font-size: 14px;
  color: #5A6872;

  > div {
    padding: 12px 16px;
  }

  .remark-label {
    display: flex;
    align-items: center;
    font-weight: 600;
    background-color: rgba(61, 112, 178, 0.1);
    border-radius: 4px 0 0 4px;
  }
}

.bx--tabs {
  margin-top: 48px;

  .bx--tabs__nav-item+.bx--tabs__nav-item {
    margin-left: 0;
  }

  .bx--tabs__nav-item + .bx--tabs__nav-item {
    margin-left: 0;
  }

  .bx--tabs__nav {
    margin-left: 0;
    border-bottom: 1px solid #DFE3E6;
  }

  .bx--tabs__nav-item {
    padding: 16px 24px 36px 24px;
    width: 200px;

    .bx--tabs__nav-link {
      font-size: 16px;
      font-weight: 600;
      color: #5A6872;

      div {
        display: inline-flex;
        align-items: center;
      }
    }

    &:hover {
      .bx--tabs__nav-link {
        color: #252E6A !important;
      }
    }

    .bx--tag {
      font-size: 10px;
      font-weight: 300;
      background-color: #3D70B2;
      color: white;
    }
  }

  .bx--tabs__nav-item--selected {
    border-bottom: 4px solid #252E6A;

    .bx--tabs__nav-link {
      color: #252E6A;
    }
  }
}

.tab-content {
  padding-top: 60px;
  padding-bottom: 60px;
}

.providers {
  .provider {
    width: 297px;
    height: 323px;
    color: #5A6872;
    padding-top: 40px;
    padding-left: 24px;
    padding-right: 24px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
    float: left;
    margin-right: 20px;
    margin-top: 20px;
    cursor: pointer;

    .provider-img {
      height: 46px;
      display: flex;
      align-items: flex-end;
      margin-bottom: 23px;
    }

    .provider-applied {
      font-size: 12px;
      font-weight: 300;
      color: #8C9BA5;
      display: inline-flex;
      align-items: center;
      float: right;
      margin-top: -23px;

      svg {
        margin-left: 5px;
      }
    }

    p {
      font-size: 12px;
      font-weight: 300;
      height: 153px;
    }

    h3 {
      color: #152935 !important;
    }

    &:last-child {
      margin-right: 0;
    }

    &.provider-selected {
      outline: 1px solid #3D70B2;
    }

    &.provider-applied {
      outline: 1px solid #00AA5E;
      cursor: default;
    }

    &.provider-to-be-announced {
      cursor: default;

      // noinspection ALL
      img {
        filter: blur(8px);
        -webkit-filter: blur(8px);
        -moz-filter: blur(8px);
        -o-filter: blur(8px);
        -ms-filter: blur(8px);
      }
    }

    .remark {
      display: inline-flex;
      line-height: 12.9px;
      font-size: 10px;
      color: #8C9BA5;

      div {
        padding: 2px 10px;
        color: #5A6872;
      }
    }
  }
}

.countdown-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .pui-countdown {
    // Flexbox is better than float for all layout except when text needs
    // to wrap neatly around an image.
    float: none;
  }
}

.tag-my-own {
  background-color: #5596E6 !important;
}

.providers-controls {
  float: right;

  .bx--checkbox-wrapper {
    display: inline-block;
  }

  .bx--btn--primary,
  .bx--checkbox-wrapper {
    margin-right: 16px !important;
  }

  button {
    margin-top: 0;
  }
}

.providers-apply-modal {
  .bx--modal-container {
    width: 736px;
    max-width: 736px;
  }
}

.sto-search-container {
  max-width: 612px;
}

.time-pickers-container {
  display: flex;

  .bx--form-item {
    flex-grow: 0;

    &:first-child {
      padding-right: 0.5rem;
    }
  }

  .bx--time-picker__select {
    min-width: 4rem;
  }
}

.bx--fieldset {
  margin-bottom: 0;
}

.token-form {
  .bx--tooltip__trigger {
    font-size: 17px;
  }
}
