.splash-background-color,
.splash-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white; }

.splash-background {
  background: url("/hero.png") no-repeat right bottom !important; }

.splash-background-pattern {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 80%;
  height: 80%;
  background: url("/hero-pattern.svg") no-repeat;
  background-size: cover; }

.splash-logo {
  margin-bottom: 55px; }

.dashboard {
  padding-left: 46px;
  padding-bottom: 46px;
  padding-top: 56px; }
  .dashboard .bx--progress {
    margin-top: 0;
    margin-bottom: 62px; }

.ticker-field {
  margin-bottom: 1.5rem;
  background: #EBF0F7;
  padding: 12px 48px 48px 48px;
  margin-top: 30px;
  text-align: center;
  border-radius: 4px; }
  .ticker-field .bx--label {
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 4px; }
  .ticker-field .bx--form-requirement {
    display: block;
    margin-bottom: -30px !important; }
  .ticker-field input {
    height: 64px;
    font-size: 34px;
    text-align: center;
    color: #152935;
    background: white; }
    .ticker-field input::placeholder {
      color: #DFE3E6 !important;
      font-weight: 300 !important;
      font-size: 26px !important; }

.pui-page-box hr {
  border: 0;
  border-top: 1px solid #EBF0F7;
  margin-bottom: 18px;
  margin-top: -3px; }

.pui-page-box .ticker-field {
  margin-top: 0; }

.pui-page-box .bx--form-item p a {
  word-break: break-word; }

.pui-page-box.sto-factory .bx--form-item p, .pui-page-box.sto-factory .bx--form-item div, .pui-page-box.sto-factory .bx--form-item li {
  font-size: 14px !important; }

.pui-page-box.sto-factory .bx--form-item li {
  margin-bottom: 10px; }

.remark {
  border-radius: 4px;
  background-color: #F5F7FA;
  font-size: 14px;
  line-height: 20px;
  padding: 12px 16px;
  height: 42px;
  overflow: hidden;
  color: #5A6872;
  margin-bottom: 20px; }
  .remark span {
    display: block;
    float: left;
    font-weight: 600;
    background-color: rgba(61, 112, 178, 0.1);
    margin-top: -11px;
    margin-left: -15px;
    margin-right: 16px;
    padding: 10px 16px;
    border-radius: 4px 0 0 4px; }

.bx--tabs {
  margin-top: 48px; }
  .bx--tabs .bx--tabs__nav-item + .bx--tabs__nav-item {
    margin-left: 0; }
  .bx--tabs .bx--tabs__nav-item + .bx--tabs__nav-item {
    margin-left: 0; }
  .bx--tabs .bx--tabs__nav {
    margin-left: 0;
    border-bottom: 1px solid #DFE3E6; }
  .bx--tabs .bx--tabs__nav-item {
    padding: 16px 100px 36px 24px; }
    .bx--tabs .bx--tabs__nav-item .bx--tabs__nav-link {
      font-size: 16px;
      font-weight: 600;
      color: #5A6872; }
    .bx--tabs .bx--tabs__nav-item:hover .bx--tabs__nav-link {
      color: #252E6A !important; }
  .bx--tabs .bx--tabs__nav-item--selected {
    border-bottom: 4px solid #252E6A; }
    .bx--tabs .bx--tabs__nav-item--selected .bx--tabs__nav-link {
      color: #252E6A; }

.tab-content {
  padding-top: 60px;
  padding-bottom: 60px; }

.providers .provider {
  width: 297px;
  height: 323px;
  color: #5A6872;
  padding-top: 40px;
  padding-left: 24px;
  padding-right: 24px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  float: left;
  margin-right: 20px;
  margin-top: 20px;
  cursor: pointer; }
  .providers .provider .provider-img {
    height: 46px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 23px; }
  .providers .provider .provider-applied {
    font-size: 12px;
    font-weight: 300;
    color: #8C9BA5;
    display: inline-flex;
    align-items: center;
    float: right;
    margin-top: -23px; }
    .providers .provider .provider-applied svg {
      margin-left: 5px; }
  .providers .provider p {
    font-size: 12px;
    font-weight: 300;
    height: 153px; }
  .providers .provider h3 {
    color: #152935 !important; }
  .providers .provider:last-child {
    margin-right: 0; }
  .providers .provider.provider-selected {
    outline: 1px solid #3D70B2; }
  .providers .provider.provider-applied {
    outline: 1px solid #00AA5E;
    cursor: default; }
  .providers .provider .remark {
    line-height: 12.9px;
    padding: 2px 6px;
    font-size: 10px;
    height: 16px;
    color: #8C9BA5;
    width: 211px; }
    .providers .provider .remark span {
      margin-top: -2.51px;
      margin-left: -5px;
      margin-right: 4px;
      padding: 2px 5px;
      color: #5A6872; }

.providers-controls {
  float: right; }
  .providers-controls .bx--checkbox-wrapper {
    display: inline-block; }
  .providers-controls .bx--btn--primary,
  .providers-controls .bx--checkbox-wrapper {
    margin-right: 16px !important; }
  .providers-controls button {
    margin-top: 0; }

.sto-search-container {
  max-width: 612px; }

.time-pickers-container {
  display: flex; }
  .time-pickers-container .bx--form-item {
    flex-grow: 0; }
    .time-pickers-container .bx--form-item:first-child {
      padding-right: 0.5rem; }
  .time-pickers-container .bx--time-picker__select {
    min-width: 4rem; }
