%modal-text {
  color: #5A6872;
}

.csvModal {
  @extend %modal-text;
  font-size: 14px;
	height: 160px;
	line-height: 25px;
}

.csvModalText {
  @extend %modal-text;
	font-size: 12px;
	line-height: 22px;
}

.csvModalTextMini {
  @extend %modal-text;
	font-size: 12px;
	line-height: 22px;
}


%csvTable {
  font-size: 14px;
  height: 18px;
  color: #5A6872;

}

.csvPreviewHeader {
  @extend %csvTable;
	font-weight: 600;
}

.csvPreviewTable {
  @extend %csvTable;
}

.csvModalTable {
  @extend %csvTable;
  // width: 100%;

}

.csvModalTableDates {
  text-align: center;
}

.garbageFlexBox {
  display: flex;
  justify-content: space-between;
  margin-right:10px;
  margin-top:13px;
}

.garbageHover:hover {
  padding: 0px 10px;
  margin-right: -10px;
  transform: scale(1.2);
}

.garbageCan {
  fill: #909BA3;
}

#dropzoneRectangle {
  height: 150px;
  border: 1px dashed #3D70B2;
  border-radius: 4px;
  background: #ECF0F5;
  display: flex;
  align-items: center;
  justify-content: center;
}


#dropZoneText {
  color: #8C9BA5;
  font-size: 24px;
  font-weight: 200;
}

.flexy {
  display: flex;
}

//TODO @davekaj: move this into polymath-ui
//note: i thought all of these needed !important to work, but then dont. maybe if it breaks at bundling, put !importants back
.bx--batch-actions--active {
   background: #28266E  ;
}

.bx--modal-content {
  width: 100%;
  // height: 80%;
  padding-bottom: 100px;

  //TODO: @davekaj can't figure out how to display the clear gradient properly to indicate you can scroll on the list
  background-color: white;
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0.2));
  -webkit-mask-image: square;
  mask-image: square;
  margin-bottom: 0  ;
}

.bx--modal-container {
  border-top: 0  ;
  // height: 70%  ;
  width: 20%  ;
}

.bx--modal-footer {
  background: white  ;
  margin-top: 0  ;
  padding-top: 0  ;
  padding-bottom: 10%  ;

}

.bx--modal-header__heading {

}
