.csvModal, .csvModalText, .csvModalTextMini {
  color: #5A6872; }

.csvModal {
  font-size: 14px;
  height: 160px;
  line-height: 25px; }

.csvModalText {
  font-size: 12px;
  line-height: 22px; }

.csvModalTextMini {
  font-size: 12px;
  line-height: 22px; }

.csvPreviewHeader, .csvPreviewTable, .csvModalTable {
  font-size: 14px;
  height: 18px;
  color: #5A6872; }

.csvPreviewHeader {
  font-weight: 600; }

.csvModalTable {
  width: 100%; }

.csvModalTableDates {
  text-align: center; }

.garbageFlexBox {
  display: flex;
  justify-content: space-between; }

#dropzoneRectangle {
  height: 150px;
  border: 1px dashed #3D70B2;
  border-radius: 4px;
  background: #ECF0F5;
  display: flex;
  align-items: center;
  justify-content: center; }

#dropZoneText {
  color: #8C9BA5;
<<<<<<< HEAD
  font-size: 24px;
  font-weight: 200; }

.bx--batch-actions--active {
  background: #28266E; }

.bx--modal-content {
  height: 90%;
  margin-bottom: 0; }

.bx--modal-container {
  border-top: 0;
  height: 62%;
  width: 60%; }

.bx--modal-footer {
  background: white;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 10%; }
=======
  font-size: 22px;
  font-weight: 200;
  line-height: 30px;
  margin: 3px auto; }
>>>>>>> 7f7faf2a6cc731ef3fd982deb0e291b244adf6a1
