.csvModal, .csvModalText, .csvModalTextMini {
  color: #5A6872; }

.csvModal {
  font-size: 14px;
  height: 160px;
  line-height: 25px; }

.csvModalText {
  font-size: 12px;
  line-height: 22px; }

.csvModalTextMini {
  font-size: 12px;
  line-height: 22px; }

.csvPreviewHeader, .csvPreviewTable, .csvModalTable {
  font-size: 14px;
  height: 18px;
  color: #5A6872; }

.csvPreviewHeader {
  font-weight: 600; }

.csvModalTableDates {
  text-align: center; }

.garbageFlexBox {
  display: flex;
  justify-content: space-between; }

#dropzoneRectangle {
  height: 150px;
  border: 1px dashed #3D70B2;
  border-radius: 4px;
  background: #ECF0F5;
  display: flex;
  align-items: center;
  justify-content: center; }

#dropZoneText {
  color: #8C9BA5;
  font-size: 24px;
  font-weight: 200; }

.flexy {
  display: flex; }

.bx--batch-actions--active {
  background: #28266E; }

.bx--modal-content {
  width: 100%;
  height: 80%;
  padding-bottom: 100px; }

.bx--modal-container {
  border-top: 0;
  height: 70%;
  width: 20%; }

.bx--modal-footer {
  background: white;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 10%; }
