.pui-page-box {
  &.sto-factory {
    .bx--form-item {
      p, div, li {
        font-size: 14px !important;
      }

      label {
        color: #152935 !important;
      }

      p {
        color: #5A6872 !important;
      }

      li {
        margin-bottom: 10px;
      }
    }
  }
}
