.pui-page-box.sto-factory .bx--form-item p, .pui-page-box.sto-factory .bx--form-item div, .pui-page-box.sto-factory .bx--form-item li {
  font-size: 14px !important; }

.pui-page-box.sto-factory .bx--form-item li {
  margin-bottom: 10px; }
