.mint-confirm-modal .bx--modal-container {
  width: 730px;
  min-width: 730px; }

.token-countdown-container {
  float: right; }

.create-token-wrapper,
.mint-tokens-wrapper {
  width: 807px;
  float: left; }

.token-symbol-wrapper {
  width: 404px;
  float: left;
  margin-left: 20px; }
  .token-symbol-wrapper .bx--tooltip__trigger {
    font-size: 17px; }

.token-form .bx--tooltip__trigger {
  font-size: 17px; }

.token-form .token-form-left {
  float: left;
  width: 255px; }
  .token-form .token-form-left .bx--radio-button-group {
    display: block;
    margin-top: 4px; }
    .token-form .token-form-left .bx--radio-button-group .radioButtonWrapper {
      margin-bottom: 14px; }
      .token-form .token-form-left .bx--radio-button-group .radioButtonWrapper .bx--radio-button__label {
        font-size: 16px;
        font-family: "Overpass", sans-serif !important; }

.token-form .token-form-right {
  float: left;
  margin-left: 60px;
  width: 440px; }
  .token-form .token-form-right .bx--label {
    font-size: 17px !important; }

.ticker-field {
  margin-top: 13px; }

.max-holders-count .bx--form-item {
  float: left;
  width: 270px; }

.max-holders-count button {
  margin-top: 0;
  background: transparent !important;
  color: #252E6A; }
  .max-holders-count button:hover:not(:disabled) {
    color: #58468E; }
  .max-holders-count button:hover {
    background: transparent !important; }
