.mint-confirm-modal {
  .bx--modal-container {
    width: 730px;
    min-width: 730px;
  }
}

.token-countdown-container {
  float: right;
}

.token-form {
  .bx--tooltip__trigger {
    font-size: 17px;
  }
}

.ticker-field {
  margin-top: 13px;
}
