.mint-confirm-modal {
  .bx--modal-container {
    width: 730px;
    min-width: 730px;
  }
}

.token-countdown-container {
  float: right;
}

.create-token-wrapper,
.mint-tokens-wrapper {
  width: 807px;
  float: left;
}

.token-symbol-wrapper {
  width: 404px;
  float: left;
  margin-left: 20px;

  .bx--tooltip__trigger {
    font-size: 17px;
  }
}

.token-form {
  .bx--tooltip__trigger {
    font-size: 17px;
  }

  .token-form-left {
    float: left;
    width: 255px;

    .bx--radio-button-group {
      display: block;
      margin-top: 4px;

      .radioButtonWrapper {
        margin-bottom: 14px;

        .bx--radio-button__label {
          font-size: 16px;
          font-family: "Overpass", sans-serif !important;
        }
      }
    }
  }

  .token-form-right {
    float: left;
    margin-left: 60px;
    width: 440px;

    .bx--label {
      font-size: 17px !important;
    }
  }
}

.ticker-field {
  margin-top: 13px;
}

.max-holders-count {
  .bx--form-item {
    float: left;
    width: 270px;
  }

  button {
    margin-top: 0;
    background: transparent !important;
    color: #252E6A;

    &:hover:not(:disabled) {
      color: #58468E;
    }

    &:hover {
      background: transparent !important;
    }
  }
}
